:root{
    font-size: 14px;
    --color-text :#fff
    --color-heading:red
    /* dặt biến để SD nhiều lần */
}


.text {
    font-size: 2rem;
    color:var(--color-text)
}
.parent {
    font-size: 20px;
}
.child{
    font-size: 2em;
}
.box {
    width: 50vw;
    height: 50vh;
    background-color: blueviolet;
}
.box-child{
    width: 80%;
    height: 80%;
    background-color: brown;
}