*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.item{
    width: 100px;
    height: 100px;
    background-color: coral;
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    display: flex;
    /* justify-content: center;  căn giữa theo chiều ngang */
    /* align-items: center; căn giữa theo chiều dọc */
}