* {
    padding: 0;
    margin: 0;
    position: relative;
}
body {
    width: 1000px;
    max-width: 1000px;
    height: auto;
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}
.header {
    width: 1000px;
    max-width: 1000px;
    height: 80px;
    max-height: 80px;
    line-height: 80px;
    background-color: #097829;
    text-align: center;
}
.header ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}
.header ul li {  
    list-style: none;
    transition: all 0.2s linear ;
}
.header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;    
}
.header ul li:hover {
    transform: scale(1.1);
    

}
/* css logo animation */
.navbar__logo {
    text-align: center;
    margin-top: 20px;
   
}
.navbar__logo__image {
    
    height: 240px;
    position: relative;
}
.navbar__logo .navbar__logo__image a img {
    width: 700px;
    max-width: 700px;
}

.animation {
    position: absolute;
    left: 220px;
    top: 0;
}
.logo__one {
    animation: one 8s 2s linear infinite;
}
.logo__two {
    animation: two 8s 4s linear infinite;
}
.logo__three {
    animation: three 8s 6s linear infinite;
}
@keyframes one {
    0%,
    100%{}
    50%{
        z-index: 3;
    }
}
@keyframes two {
    0%,
    100%{}
    50%{
        z-index: 2;
    }
}
@keyframes three {
    0%,
    100%{}
    50%{
        z-index: 1;
    }
}
/* CSS navbar */
.navbar__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    box-sizing: border-box;
    gap: 10px;
    margin-top: 20px;
}
.navbar__image__types {  
    width: 240px;
    max-width: 240px;
    height: 300px;
    max-height: 300px;
    margin-bottom: 20px; 
}
.navbar__image__types img {
    width: 240px;
    height: 200px;
    margin-bottom: 10px;
    transition: all 1s linear;
}
.navbar__image__types img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}
.navbar__image__money {
    color: red;
    font-weight: 700;
}
.navbar__image__types a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    color: #292929;
}
.navbar__image__money {
    text-align: center;
    font-weight: 400;
}
.navbar__image__types__btn {
    display: flex; 
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}
.navbar__btn {
    cursor: pointer;
    font-size: 12px;
    padding: 10px 25px;
    color: #ffffff !important;
    border-radius: 5px;
    background: #9B6A1D;
    border: 1px solid #9B6A1D;
    transition: 0.4s;
    text-transform: uppercase;
    transition: all 0.5s linear;
}
.navbar__btn:hover {
    background: #292929;
    transform: scale(0.9);
}


/* css footer */
.footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 1000px;
    max-width: 1000px;
    background-color: #097829;
    margin-top: 100px;
}
.footer__name h2 {
    color: white;
    margin: 20px 15px;
}
.footer__name__add {
    margin: 10px 20px;
}
.footer__name__add a {
    text-decoration: none;
    color: white;
}
.footer__name__border {
    width: 100px;
    max-width: 100px;
    height: 2px;
    margin-left: 10px;
    background-color: rgba(255,255,255,0.3);
}
.footer__name ul {
    list-style: none;
    margin: 10px 20px;
    color: white;
}
.footer__name ul li {
    margin: 10px 20px;
}
.footer__name ul li a {
    color: white;
    text-decoration: none;
}
.footer__name__logo a img {
    width: 150px;
    max-width: 150px;
    height: 70px;
    max-height: 70px;
    margin-left: 30px;
}
.footer__policy {
    color: white;
}
.footer__policy h2 {
    margin: 20px 15px;
}
.footer__policy ul {
    color: white;
}
.footer__policy ul li {
    margin: 12px 35px;
}
.footer__policy ul li a {
    text-decoration: none;
    color: white;
}
.footer__policy__icon {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.footer__policy__icon a {
    border-radius: 50%;
    transition: all 1s ease;
    text-decoration: none;
}
.fa-brands {
    padding: 3px;
    display: block;
    margin: auto;
    color: white;
    transition: all 1s ease;
}
.fa-facebook:hover {
    transform: scale(1.4);
    color: blue;
}
.fa-instagram:hover {
    transform: scale(1.4);
    color: blue;
}
.fa-twitter:hover {
    transform: scale(1.4);
    color: blue;
}
.one:hover {
    border: none;
}
.two:hover {
    border: none;
}
.fa-pinterest:hover {
    transform: scale(1.4);
    color: red;
}
/* css footer */


footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    
    margin-top: 10px;
}
footer div .footer-menu {
    list-style: none;

}
footer div .footer-menu a {
    text-decoration: none;
    color: white;
   
    
}
.footer-menu li {
    color: #ffffff;
}

footer div .footer-menu li {
    margin: 15px 0px;
}
footer div span {
    color: aliceblue;
    display: block;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 600;
}
.fab {
    margin-right: 20px;
    margin-top: 10px;
    color: aliceblue;
}
