* ,:after , :before{
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #9c9c9c;
    padding: 0px auto;
    display: flex;
    justify-content: center;
    
}

.container {
    margin-top: 100px;
    align-items: center;
    width: 500px;
    position: relative;
    
    background-color: aliceblue;
    transition: all 1s linear;
    
   
}


.container:hover > .content {
    
    top: 300px;
    left: 0;
    background-color: #fff;
   
}


.container .card {
    height: 400px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.container .card img {
    width: 100%;
    height: 100%;
}

.content {
    height: 200px;
    position: absolute;
    top: 400px;
    left: 0;
    z-index: 2;
    background-color: #fff;
}
.container .card .mar {
    width: 80px;
    height: 80px;
    background-color: coral;
    border-radius: 50%;
    position: absolute  ;
    top: 20px;
    left: 400px;

}
.container .card .mar p {
    padding-left: 27px;
    
}
.container .card .mar .day {
    padding-top: 15px;
}
.content .photos {
    background-color: coral;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    
    margin-top: -30px;
}

.content h1 {
    text-transform: uppercase;
    margin: 20px  0px 20px 20px;
}

.content p {
    margin-left: 20px;
    padding-bottom:10px;
}
.container .content span {
    
    margin:30px;
}



 